.cal-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.cal-wrapper{
    min-width: 350px;
}

@media only screen and (max-width: 600px) {
    .cal-container {
      align-items: flex-end;
      padding-bottom: 45px;
    }
  }